* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.main-content {
    scale: 1.0;
}

body {
    background-image: url("wallpaper.jpg");
}

.transparent-header-bg {
    background: rgba(255, 255, 255, 0.7)
}

.white-bg {
    background: #fff;
}

header {
    padding: 28px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-container {
    padding: 12px;
    border-radius: 42px;
    background: rgba(255, 255, 255, 0.384);
    backdrop-filter: blur(10px);
}

header h1 {
    color: #fff;
}

header button {
    color: #ffffff;
    width: auto;
    padding: 9px 50px;
    margin: 0 0;
    font-size: 20px;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: 200;
    border: none;
    transition: color 0.2s;
    display: inline-block;
}

header button:hover {
    color: #8b8b8b;
}

#header-background {
    position: absolute;
    align-self: center;
    border-radius: 42px;
    top: 25px;
    left: 0px;
    height: 45px;
    background: #1a0e8f;
    transition: transform 0.3s ease;
    z-index: -1;
    box-shadow: #303030 0px 4px 12px;
}

h1 {
    color: #000000;
    transition: color 0.3s;
}

h2 {
    font-weight: 100;
}

a {
    text-decoration: none;
}

.tab-content {
    display: none;
    padding: 40px 140px;
    transition: transform 0.3s ease-in-out;
}

.tab-content.active {
    display: block;
    transform: translateX(0%);
    padding-bottom: 0px;
}

.tab-content.next {
    transform: translateX(100%);
}

.icon {
    height: 52px;
    width: 52px;
    padding: 6px;
}

.icon:hover {
    cursor: pointer;
}

.primary-button {
    height: 44px;
    width: 100%;
    background: linear-gradient(to right, #510499, #2041B6);
    color: #ffffff;
    border: none;
    border-radius: 22px;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    word-spacing: 4px;
}

.primary-button:hover {
    cursor: pointer;
}

.alt-button {
    height: 44px;
    width: 100%;
    background: linear-gradient(to right, #0b7707, #0aad7c);
    color: #000000;
    border: none;
    border-radius: 22px;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;   
    word-spacing: 4px;
}

.alt-button:hover {
    cursor: pointer;
}

/* ==============================
HOME GRID
============================== */

.home-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 90px);
    grid-gap: 24px;
    scale: 0.9;
}

.grid-item {
    background: #fffeff;
    color: #000000;
    padding: 20px;  
    border-radius: 22px;   
    overflow: hidden;
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.4);
}


/* ==============================
Grid child 1
============================== */

.grid-item:nth-child(1) {
    grid-area: 1 / 1 / 7 / 2;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: transparent;
}
.suggestion-img-container {
    min-height: 25%;
    overflow: hidden;
    display: block;
}

.grid-item:nth-child(1) p {
    color: #353535;
}

.suggestion-title {
    padding: 20px;
}

.suggestion-img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
}

.suggestion-container {
    padding: 20px;
    padding-bottom: 14px;
}

.suggestion-list {
    height: 110px;
    margin-top: 20px;
    font-size: 24px;
    overflow: auto;
    margin-bottom: auto;
    padding-inline-start: 20px; 
}

.suggestion-bottom {
    display: flex;
    padding: 20px; 
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

.suggestion-bottom img {
    margin-left: 12px;
}

.refresh-icon {
    height: 36px;
    width: 36px;
    margin-right: 12px;
}


/* ==============================
Grid child 2
============================== */

.grid-item:nth-child(2) {
    grid-area: 7 / 1 / 8 / 2;
    display: flex;
    align-items: center;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(10);
    border: 1px solid rgba(255, 255, 255, 0.199);
}

.grid-item:nth-child(2) img {
    margin-left: auto;
}

.grid-item:nth-child(2) h1 {
    color: #fff;
}

/* ==============================
Grid child 3
============================== */

.grid-item:nth-child(3) {
    grid-area: 1 / 2 / 2 / 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.grid-item:nth-child(3) h1 {
    margin: 0 auto;
    text-transform: uppercase;
}
.grid-item:nth-child(3) a {
    margin-left: auto;
}
.h1-light {
    font-weight: 100;
    text-transform: initial;
}

/* ==============================
doel editor pop-up window
============================== */

#doel-editor-pop-up {
    display: none;
    position: fixed;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(6px); 
    z-index: 999;
}

#doel-editor {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background: #fff;
    z-index: 1000;
    opacity: 1;
    padding: 22px;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
}

.doel-editor-top {
    display: flex;
}

#close-doel-editor {
    font-size: 44px;
    cursor: pointer;
    margin-left: auto;
}

#doel-editor label {
    font-size: 48px;
    margin-bottom: 12px;
}

#new-doel {
    background-color: #d8d8d8;
    padding: 13px;
    border-radius: 9px;
    border: none;
    width: 100%;
    font-size: 18px;
    margin-bottom: 22px;
}

#save-new-doel {
    padding: 12px;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    word-spacing: 4px;
    border: none;
    border-radius: 22px;
    height: 44px;
    width: 50%;
}

#save-new-doel:hover {
    cursor: pointer;
}

/* ==============================
Grid child 4
============================== */

.grid-item:nth-child(4) {
    grid-area: 2 / 2 / 8 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

#kcal-text {
    position: absolute;
    top: 50%;
    left: calc(50% - width);
    font-size: 58px;
}

#percentage-text {
    position: absolute;
    top: 60%;
    left: calc(50% - width);
    font-size: 38px;
}


/* ==============================
Grid child 5
============================== */

.grid-item:nth-child(5) {
    grid-area: 1 / 4 / 8 / 4;
    display: flex;
    flex-direction: column;
    padding: 0;
    background: transparent;
}

.grid5-title {
    padding: 20px;
}

.grid5-bottom {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #fff;
}

.grid5-btn {
    margin-top: auto;
    padding: 10px;
}

#product-list {
    overflow: auto;
    padding-right: 15px;
    margin: 25px 0;
    padding-top: 6px;
}

#product {
    display: flex;
    padding-bottom: 24px;
    justify-content: space-between;
    font-size: 22px;
}



/* ==============================
add food pop up window
============================== */

#add-food-pop-up {
    display: none;
    position: fixed;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(6px); 
    z-index: 999;
}

#add-food {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background: #fff;
    z-index: 1000;
    opacity: 1;
    padding: 22px;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
}

.add-food-top {
    display: flex;
    font-size: 55px;
}

#close-add-food {
    font-size: 44px;
    cursor: pointer;
    margin-left: auto;
}

#add-food label {
    font-size: 22px;
    margin-bottom: 12px;
}

#add-food input {
    background-color: #d8d8d8;
    padding: 9px;
    border-radius: 9px;
    border: none;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 22px;
}

#save-add-food {
    padding: 12px;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    word-spacing: 4px;
    border: none;
    border-radius: 22px;
    height: 44px;
    width: 50%;
}

#save-add-food:hover {
    cursor: pointer;
}

.add-food-title {
    font-size: 55px;
    margin-bottom: 12px;
}