<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Kcal Teller</title>
</head>
<body>
    <div id="doel-editor-pop-up">
        <form id="doel-editor" action="{{ url_for('edit_doel') }}" method="post">
            <div class="doel-editor-top">
                <h1>Nieuwe doel</h1>
                <span id="close-doel-editor" onclick="closeDoelEditor()">&times;</span>                                    
            </div>
            <input name="new-doel" id="new-doel" type="text">
            <button id="save-new-doel" type="submit">Opslaan</button>
        </form>
    </div>
    <div id="add-food-pop-up">
        <div id="add-food">
            <div class="add-food-top">
                <h1 class="add-food-title">Product</h1>
                <span id="close-add-food" onclick="closeAddFood()">&times;</span>
            </div>
            <form action="{{ url_for('add_food') }}" method="post">
                <label for="product-name">Naam</label>
                <input name="product-name" id="product-name">
                <label for="product-weight">Gewicht (gr)</label>
                <input name="product-weight" id="product-weight">
                <label for="product-kcal">Kcal</label>
                <input name="product-kcal" id="product-kcal">
                <input type="hidden" name="current_date" value="{{ current_date.strftime('%Y-%m-%d') }}">
                <button id="save-add-food">Opslaan</button>
            </form>
        </div>
    </div>
    <div class="main-content">
        <header>
            <div class="header-left">
                <a href="{{ url_for('home') }}">Hallo <span style="text-transform: capitalize">{{ user.username }}</span></a>
            </div>
            <div class="header-center">
                <div class="header-center-content">
                    <div id="header-background"></div>
                    <button id="home-button" onclick="changeButton('home-button'); openTab('home');">Home</button>
                    <button id="logs-button" onclick="changeButton('logs-button'); openTab('logs')" >Data</button>
                    <button id="account-button" onclick="changeButton('account-button'); openTab('account')">Account</button>
                </div>
            </div>
            <div class="header-right">
                <a id="logout" href="{{ url_for('logout') }}">Log uit</a>
            </div>
        </header>
        <div id="home" class="tab-content active">
            <div class="home-grid">
                <div id="grid1" class="grid-item">
                </div>
                <div id="grid2" class="grid-item">
                    <h1>Nieuwe doel berekenen</h1>
                    <img src="static/css/rekenmachine.png">
                </div>
                <div id="grid3" class="grid-item">
                    <h1>Doel: <span class="h1-light"><span id="kcal-doel">{{ user.doel }}</span> kcal</span></h1>
                    <img src="static/css/edit.png" onclick="openDoelEditor()" class="icon">
                </div>
                <div id="grid4" class="grid-item">
                    <canvas id="progressionChart"></canvas>
                    <h1 id="kcal-text"></h1>
                    <h2 id="percentage-text"></h2>
                    <h3 id="date-text">{{ current_date.strftime('%d-%m-%Y') }}</h3>
                </div>
                <div id="grid5" class="grid-item">
                    <div class="grid-5-top transparent-header-bg">
                        <h1 class="grid5-title">{{ current_date.strftime('%d-%m-%Y') }}</h1>
                        <div class="day-buttons">
                            {% if previous_date %}
                            <a class="previous-day-btn" href="{{ url_for('home', current_date=previous_date.strftime('%Y-%m-%d')) }}">&#11207;</a>
                            {% else %}
                                <a class="previous-day-btn disabled">&#11207;</a>
                            {% endif %}
                            
                            {% if next_date %}
                                <a class="next-day-btn" href="{{ url_for('home', current_date=next_date.strftime('%Y-%m-%d')) }}">&#11208;</a>
                            {% else %}
                                <a class="next-day-btn disabled">&#11208;</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="grid5-mid">   
                        <div id="product-list">
                            {% for food in grouped_logs[current_date] %}
                            <div id="product">
                                <div class="product-name">
                                <p id="name">{{ food.name }}</p>
                                <form action="{{ url_for('delete_food', food_id=food.id) }}" method="POST" style="margin: 0;">
                                    <button type="submit" class="delete-button">&#10006;</button>
                                </form>
                                </div>
                                <div class="product-details">
                                    <p id="weight">{{ food.weight|int }} gr</p>
                                    <p id="kcal">{{ food.kcal|int }} kcal</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="grid5-bottom">
                        <button class="primary-button grid5-btn" onclick="openAddFood()">Voeg toe</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="logs" class="tab-content">
            <h1>page 2</h1>
        </div>
        <div id="account" class="tab-content">
            <h1>page 3</h1>
        </div>
    </div>
    <script src="static/js/main.js"></script>
    <script>
        var currentDate = "{{ current_date.strftime('%Y-%m-%d') }}";
        var totalKcal = {{ total_kcal }};
    </script>
    </body>
</html>
